<html>

<head>
<title>Title</title>
</head>

<body style = "color: grey; font-family: 'Helvetica Neue';">

  <table background = "https://raw.githubusercontent.com/ropenscilabs/notifier/master/inst/templates/glitter_long.jpg" >
    <tr>
      <td style="padding: 20px">
      </td>
    </tr>
    <tr>
      <td style="padding: 20px">

      </td>
      <td style = "background-color: #faebd7; margin-left: 100px; margin-right: 100px; margin-top: 30px; margin-bottom: 30px;border-radius: 20px; border-left: 50px solid #faebd7; border-right: 50px solid #faebd7; padding: 20px ">
{body}
</td>
<td style="padding: 20px">
</td>
    </tr>
        <tr>
      <td style="padding: 20px">

      </td>
    </tr>
  </table>

</body>
</html>
