<html style="background-image:url('glitter_long.jpg')" >

<head>
<title>Title</title>
</head>

<body style = "margin-left: 100px; margin-right: 100px; margin-top: 30px; margin-bottom: 30px; background-color: #faebd7; color: gray;  font-family: 'Helvetica Neue';border-radius: 20px; border-left: 10px solid #faebd7; border-right: 10px solid #faebd7;">
<h1> rOpenSci thank you </h1>
<br>
Dear {name},
<br> <br>
Thank you for attending rOpenSci. We are writing this email from the <code>ponyexpress</code> package. WE LOVED GETTING TO KNOW YOU THIS WEEK!
<br><br>
XO, <br>
Lucy & Karthik

<br>
<br>
<center>
<img src = "https://camo.githubusercontent.com/cdfd3c87a36fc7b3f69f768354ab9132e0199413/68747470733a2f2f692e696d6775722e636f6d2f496a36304668522e676966">

</center>
</body>
</html>
